/*colocando estilos generales y reutilizables*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.text-uppercase {
  text-transform: uppercase;
}
/*colocando el encabezado en mi pagina tipo de letra,posicion fija ,ancho*/
header {
  position: fixed;
  background-color: #2c3e50;
  width: 100%;
  z-index: 1000;
}
/*colocando logo titulo de el encabezado colocando color de letra ,tamaño y en linea*/
.logo-freelancer {
  color:white;
  font-weight: 900;
  font-size: 2em;
  padding-bottom: 10px;
  padding-left: 140px;
  display: inline-block;
}
/*colocando en linea mis titulo*/
header ul {
  margin: 0;
  display: inline-block;
  padding-left: 35%;

}
/*quitando el efecto de lista y situandolo 10% a la izquierda*/
.redirects {
  padding-right: 30px;
  list-style: none;
  display: inline-block;
}
/*colocando color de letra ,grosor y quitando la linea de el link*/
.redirects a {
  font-weight: 700;
  color: white;
  text-decoration: none;
}
/*colocando efecto hover ,al pasar el mouse por la palabra muestra otro color*/
.redirects a:hover {
  color :#009999;
}
/*colocando efecto -activacion con se hace click*/
.redirects a:active {
  background-color: #18bc9c;
  color: white;
}

/*SECCION PRINCIPAL-colocando color de fondo ,texto centrado*/

.startbootstrap {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 100px;
  width: 100%;
  background-color: #18bc9c;
}
/*situando imagen y colocando su ancho*/
.images-men {
  padding-bottom: 20px;
  max-width: 100%;
}
/*colocando color de titulo y tamaño*/
.title {
  color: white;
  padding-bottom: 60px;
  display: block;
  font-size: 80px;
  font-weight: 700;
}
/*colocando icono estrella*/
.startbootstrap .star {
	max-width: 247px;
	border: 3px solid #FFF;
	margin: 25px auto 30px;
	padding: 0;
}

.startbootstrap .fa-star {
	color: #FFF;
	background-color: #18bc9c;
	font-size: 35px;
	position: relative;
	bottom: 54px;
	display: inline-block;
	padding: 5px;
  left:390px;
}

/*colocando color y tamaño de letra a el texto de perfiles*/
.profiles {
  color: white;
  font-size: 27px;
  padding-top: 30px;
}

/*SECCION IMAGENES*/

#portfolio {
  width: 100%;

  display: block;
  padding: 100px 0;
  background-color: white;
  }

/*colonado el texto al centro ,colocando tamaño de letra*/
.tfolio {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

/*colocando icono estrella*/
#portfolio .star {
	max-width: 247px;
	border: 3px solid #2c3e50;
	margin: 25px auto 30px;
	padding: 0;
}

#portfolio .fa-star {
	color: #2c3e50;
	background-color: #fff;
	font-size: 35px;
	position: relative;
	bottom: 54px;
	display: inline-block;
	padding: 5px;
  left: 610px;
}

/*situando las imagenes con un margen de 0*/
.container {
  margin: 0;
  position: relative;
  left: 30px;
  display: inline-table;
}

.six-images {
  display: inline-table;
}

.six-images figure {
  margin: 0;
}

.six-images img {
  width: 370px;
  padding-left: 30px;
  padding-top: 39px;
}

/*TERCERA SECCION*/
#about {
  width: 100%;
  background-color:#18bc9c;
  padding-top: 30px;
}
/*centrando el titulo,tamaño de letra y color de letra*/
.tabout {
  padding-bottom: 30px;
  color: white;
  font-size: 45px;
  font-weight: 900;
  text-align: center;
}

/*colocando icono estrella*/
#about .star {
	max-width: 247px;
	border: 3px solid #fff;
	margin: 25px auto 30px;
	padding: 0;
}

#about .fa-star {
	color: #fff;
	background-color: #18bc9c;
	font-size: 35px;
	position: relative;
	bottom: 54px;
	display: inline-block;
	padding: 5px;
  left: 610px;
}

/*contenedor de texto de guia*/
.contains-text {
  width: 100%;
  text-align: justify;
  /*position:relative;
  left: 250px;*/
  text-align: center;
  padding-bottom: 130px;
}
/*color de letra del parrafo ,tamaño de letra ,ancho de letra*/
.paragraphs {
  color:white;
  font-size: 19px;
  width: 350px;
  line-height: 28px;
  padding-left: 30px;
  text-align: justify;
  display: inline-block;
}
/*seccion de descarga ,colocando bordes redondeados ,color de letra y posicion */
.download {
  width: 200px;
  position: relative;
  left: 530px;
  top:40px;
  border:2px solid white;
  border-radius: 6px;

}
/*seccion icono ,color de icono */
.downl-icon i {
  padding: 15px;
  font-size: 20px;
  color:white;
}

/*CUARTA SECCION-zona de contacto*/
#contact {
  padding: 100px 0;
  background-color: white;
}
/*centrando texto,tamaño de letra (pista para usuario)*/
.tcontact {
  text-align: center;
  font-size: 40px;
  font-weight:700;
}

/*colocando icono estrella*/
#contact .star {
	max-width: 247px;
	border: 3px solid #2c3e50;
	margin: 25px auto 30px;
	padding: 0;
}

#contact .fa-star {
	color: #2c3e50;
	background-color: #fff;
	font-size: 35px;
	position: relative;
	bottom: 54px;
	display: inline-block;
	padding: 5px;
  left: 610px;
}
/*tamaño de formulario */
.forms {
  width: 700px;
  position: relative;
  left:320px;
  top: 35px;
}

.pure-form {
  padding-bottom: 140px;
}
/*tamaño de caja de ingreso de datos,estilo sin bordes*/
.f-input input {
  width:80%;
  font-size: 25px;
  padding-bottom: 50px;
  padding-top: 30px;
  border:none;
  outline: 0;
  border-bottom: 1px solid #eee;
}
/*boton de envio de datos,color de boton ,color de letra y tamaño */
.send {
  color: white;
  background-color: #18bc9c;
  border-color: #18bc9c;
  font-size: 21px;
  font-weight: 600;
  border-radius: 5px;
  border: 0;
  padding: 12px 15px;
}
/*SECCION PIE DE PAGINA-redes sociales*/
.networks-contact {
  padding-top: 150px;
  color: white;
  width: 100%;
  background-color: #2c3e50;
}
/*posicionando el contenido*/
.contactme {
  position: relative;
  left: 50px;
  bottom: 110px;
  width: 90%;
}

.column {
  padding-left: 50px;
  display: inline-block;
  width: 310px;
}
/*centrando el texto,tamaño de letra y grosor */
.column h3 {
  text-align: center;
  margin: 0;
  font-size: 29px;
  font-weight: 700;
}
/*centrando el texto,tamaño de letra y grosor */
.column p {
  text-align: center;
  font-size: 21px;
  line-height: 27px;
}
/*posicionando primera columna*/
.location {
  position: relative;
  bottom: 28px;
}
/*posicionando segunda columna*/
.iconsnetwork {
  padding-left: 0;
  list-style: none;
  position: relative;
  left: 15px;
  bottom: 30px;
}

.iconsnetwork ul {
  margin-top: 0;
  /*margin-bottom: 1rem;*/
}

.iconnet {
  display: inline-block;
}
/*colocando un borde redondeado a cada icono de red social*/
.r-social {
  font-size: 20px;
  line-height: 45px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 100%;
}
/*colocando color de letra*/
.s-outline {
  margin-top: 15px;
  color: white;
}
/*colocando un efecto a cada icono*/
.iconsnetwork a:hover {
  color: #18bc9c;
  background: white;
}
/*color de parrafo ,redirige*/
.paragraph {
  color: #18bc9c;
  text-decoration: none;
}

.tbaround {
  position: relative;
  bottom: 33px;
}
/*situando pie de pagina ,color de letra */
.copyright {
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 30px;
}
