/*colocando estilos generales y reutilizables*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-uppercase {
  text-transform: uppercase;
}

header {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  background-color: #2c3e50;
  width: 100%;
}

.logo-freelancer {
  color:white;
  font-size: 35px;
  padding-left: 90px;
}

.redirects {
  list-style: none;
  display: inline-block;
}

.redirects a {
  color: white;
  text-decoration: none;
  display: inline-block;
}
